<form #addForm="ngForm">
  <table>
    <tbody>
      <tr>
        <td>
          <md-form-field>
            <input mdInput placeholder="Nombre" required [(ngModel)]="profesor.nombre" name="nombre" #nombre="ngModel" />
            <md-error *ngIf="!nombre.valid && !nombre.pristine">
              Por favor ingresar un nombre valido
            </md-error>
          </md-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <md-form-field>
            <input mdInput placeholder="Cedula" required [(ngModel)]="profesor.cedula" name="cedula" #cedula="ngModel" />
          </md-form-field>
          <md-error *ngIf="!cedula.valid && !cedula.pristine">
            Por favor ingresar una cedula valida
          </md-error>
        </td>
      </tr>
      <tr>
        <td>
          <md-form-field>
            <input mdInput placeholder="Correo" required [(ngModel)]="profesor.correo" name="correo" #correo="ngModel" />
          </md-form-field>
          <md-error *ngIf="!correo.valid && !correo.pristine">
            Por favor ingresar un correo valido
          </md-error>
        </td>
      </tr>
      <tr>
        <td>
          <md-select placeholder="Facultad" required [(ngModel)]="profesor.facultad" name="facultad" #facultad="ngModel">
            <md-option *ngFor="let facultad of listaFacultad" [value]="facultad.value">
              {{ facultad.value }}
            </md-option>
          </md-select>
          <md-error *ngIf="!facultad.valid">
            Please enter a valid facultad
          </md-error>
        </td>
      </tr>
      <tr>
        <td>
          <md-select placeholder="Proyecto" required [(ngModel)]="profesor.proyectoId" name="proyectoId" #proyectoId="ngModel">
            <md-option *ngFor="let proyecto of profesorService.listaProyectos" [value]="proyecto.titulo">
              {{ proyecto.titulo }}
            </md-option>
          </md-select>
          <md-error *ngIf="!proyectoId.valid">
            Por favor ingresar un proyecto valido
          </md-error>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <br/>
          <div class="button-row">
            <button md-raised-button color="primary" (click)="nuevoProfesor()">
              Nuevo profesor
            </button>
            <button md-raised-button color="primary" [disabled]="!addForm.valid" (click)="guardarProfesor()">
              Guardar profesor
            </button>
          </div>
        </td>
      </tr>
      <br>
      <tr>
          <td>
              {{mensaje}}!
          </td>
      </tr>
    </tbody>
  </table>
</form>
